{% extends 'base.html.twig' %}

{% block title %} Nos derniers travaux réalisés
{% endblock %}

{% block body %}

	<div class="container mt-4 service-reveal">
		<div>
			<h3 class "container p-4"> Nos derniers travaux réalisés </h3>
			{% for categorie in categories %}
				<li>
					<a href="{{ path ('app_category_show_realization', {slug: categorie.slug}) }}">{{ categorie.name }}</a>
				</li>
			{% endfor %}
			<div id="prest-list" class="service-reveal">
			{% include 'pages/realization/_single_realization.html.twig'%}
			</div>	
		</div>
		<div class="container">
			<div class="row">
				<div class="d-flex align-items-center justify-content-center">
					{{ knp_pagination_render(realizations) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}