{% extends 'base.html.twig' %}

{% block title %}Hello PrestController!{% endblock %}

{% block body %}
<section class="container mt-4 service-reveal">
    <h2 class='text-center'>Nos préstations</h2>
    <div>
        {# {% for cat in allCategories %} 
            <li>
                <a href="{{ path ('app_category_show', {slug: cat.slug}) }}">{{ cat.name }}</a>
            </li>
        {% endfor %} #}
           {% for categorie in categories %}
    <li>
        <a href="{{ path ('app_category_show_prest', {slug: categorie.slug}) }}">{{ categorie.name }}</a>
    </li>
{% endfor %}
        
    </div>
    {% include "pages/prest/_single_prest.html.twig" %}
</section>
{% endblock %}
