<div class="p-4">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">

        {% for categorie in categories %}
            <li>
                <a href="{{ path('app_category_show',{slug: categorie.slug})}}" class="text-decoration-none">{{categorie.name}}</a>
            </li>    
        {% endfor %}
         
    </ol>
</div>