    <!-- Footer Start -->
<div class="footer wow fadeIn reveal" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="footer-contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Vaux le Penil</p>
                    <p><i class="fa fa-phone-alt"></i>+33 6 62 15 15 50</p>
                    <p><i class="fa fa-envelope"></i>batibatvlp@gmail.com</p>
                </div>
            </div>
                 <div class="col-md-6 col-lg-4">
                <div class="">
                    <a href="">
                         <img class='img-fluid logo footer-reveal-img' src="{{ asset('img/batibat-removebg-preview.png') }}" alt="batibat-removebg-preview">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-social">
                <h2>Suivez nous</h2>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">Batibat</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="https://htmlcodex.com">Yilmi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->