// @import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}   

:root{
    --yellow-color:#fdbe33;
    --blue-color: #030f27;
}

/* bas html codes */
html{
    /* Normalement 1rem = 16px grace à font-size 62.5% 1 rem devient 10px */
    /* 1rem = 10px */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.pagination .page-link {
    background-color: var(--blue-color);
    color: var(--yellow-color);
    font-size: 2rem;
}

.pagination .page-item.active .page-link {
    background-color: var(--yellow-color);
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
}


.btn {
    position: relative;
    margin-top: 1.5rem;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--blue-color);
    border-radius: 0.3rem;
    background: var(--yellow-color);
    transition: .3s;
}

.btn:hover {
    color: #fdbe33;
    background-color: #030f27;
}


// 
/*******************************
* ! Top-navbar 
*******************************/
#top-navbar{ 
    /* color: rgb(252, 201, 105); */
    color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem ;
    height: 5rem;
    margin-left: 15rem;
    margin-bottom: 30px;
}

#top-navbar ul {
    list-style-type: none; 
    display: flex; 
    align-items: center;
}

#top-navbar ul li {
    padding: 1rem;
    margin: 0.5rem; 
    font-size: 1.8rem;
} 

#top-navbar ul li i {
    font-size: 2.6rem;
}

#top-navbar ul li a  {
    color: #808080;
}


@media screen and (max-width : 1250px ) {
    #top-navbar{ 
        color: #808080;
        margin: 0;
        padding-top: 15px;
        margin-left: 0;
        margin-bottom: 25px;
    }
    
    #top-navbar ul li {
        padding: 1rem;
        font-size: 1.7rem;
    } 
    
    #top-navbar ul li i {
        font-size: 2rem;
        font-weight: bold;
    }
    
}

@media screen and (max-width: 1024px) {
    #top-navbar{ 
        padding: 0 ;
        margin: 0;
        margin-left: 15px;
        padding-top: 15px;
        margin-bottom: 25px;
    }
    
    #top-navbar ul {
        width: 100%;
        white-space: nowrap;
    }

    #top-navbar ul li {
        padding: 0;
        font-size: 1.4rem;
    } 

    #top-navbar ul li i {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 768px) {
    #top-navbar{ 
        padding: 0 ;
        justify-content: space-between;
        margin: 0;
        padding-top: 15px;
        margin-left: 0;
        margin-bottom: 25px;
    }

    #top-navbar .container {
        padding: 0 ;
        margin: 0;
    }
    
    #top-navbar ul {
        width: 100%;
    }

    #top-navbar ul li {
        padding: 0;
        font-size: 1rem;
    } 

    #top-navbar ul li i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 578px) {
    #top-navbar ul {
        padding: 0;
        list-style: none;
        width: 100%;
        white-space: normal;
    }
}

@media screen and (max-width: 500px) {
    #top-navbar ul li {
        padding: 0;
        font-size: 1rem;
    } 

    #top-navbar ul li:nth-child(2),
    #top-navbar ul li:nth-child(3){
        display: none;
    }

    #top-navbar ul li i {
        font-size: 1.5rem;
        font-weight: bold;
    }
}



/*******************************
* ! NAVBAR home/index.html.twig
*******************************/

.upper-part{
    background-image: url(/public/img/img_slider_4858_civil.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

.navbar {
    width: 100%;
    position: fixed;
}

.nav-bg{
    background:var(--blue-color);
    padding: 2rem 1rem 1.5rem 1rem ;
    height: 8rem;
    z-index: 100;
    position: sticky;
    top: 0;
}

.logo{
    height: 20rem;
}

.line {
    font-size: 2rem;
    margin: 2rem;
    color: var(--yellow-color)

}

.nav-item a {
    color: var(--yellow-color);
    font-size: 2rem;
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--yellow-color);
    opacity: 0.7;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fdbe33' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    z-index:100 !important;
    font-size: 3rem;
}

@media screen and (max-width: 991px) {
   
    .nav-bg {
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navbar .container{
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 ;
        margin:0;
    }

    .logo-toggler-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-custom-bg {
        background: var(--blue-color);
    }

    .navbar .logo {
        height: 18rem;    
        margin-top: -5rem;
    }

    .navbar-toggler{
        z-index:100 !important;
        margin-top:-6rem;
        margin-right: 45px;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }

    .nav-item {
        padding-left: 15px;
    }

    .nav-item a {
        color: var(--yellow-color);
        font-size: 2.5rem;
        padding: 20px;
        font-weight:bold;
    }

    .navbar .line {
        display: none;
    }

}

@media screen and (max-width: 578px) {


    .nav-item a {
        color: var(--yellow-color);
        font-size: 2rem;
        padding: 20px;
    }

    .navbar-toggler{

        margin-right: 0px;
    }

    .navbar-brand {
        margin-left: -55px;
    }
}


/*******************************
* ! NAVBAR base.html.twig 
*******************************/

.logo-on-bg-image{
    margin-top: -50px;
    height: 700px;
}

.text-on-image{
    color: var(--blue-color);
    margin-top: -200px;
}

.text-on-image h1 {
    font-size: 70px;
    max-width: 100%;
}

.text-on-image h2 {
    font-size: 60px;
    max-width: 100%;
} 

.text-on-image { 
    background-color: rgba(255, 255, 255, 0.2)
}

@media screen and (max-width: 1024px) {

    .logo-on-bg-image{
        margin-top: -90px;
        height: 700px;
        font-weight: 900;
    }

    .text-on-image h1 {
        font-size: 40px;
        max-width: 100%;
    }
    
    .text-on-image h2 {
        font-size: 30px;
        max-width: 100%;
    }    

}

@media screen and (max-width: 768px) {
    .logo-on-bg-image{
        margin-top: -90px;
        height: 600px;
    }

    .text-on-image{
        color: var(--blue-color);
        margin-top: -100px;
    }
}

@media screen and (max-width: 578px)
{
    .logo-on-bg-image{
        margin-top: 0px;
        height: 400px;
    }

    .text-on-image{
        color: var(--blue-color);
        margin-top: 0px;
    }
}



/****************************************************************************************************************************
*! Index.html.twig start
****************************************************************************************************************************/


/*******************************
*! Feature start
*******************************/
.feature {
    position: relative;
    margin-top: -70px;
    z-index: 2;
}

.feature .col-md-12 {
    background: #030f27;
    padding: 0.8rem;
}
    
.feature .col-md-12:nth-child(2n) {
    color: var(--blue-color);
    background: var(--yellow-color);
    padding: 3.5rem;
} 

.feature .feature-item {
    min-height: 25rem;
    padding: 3.5rem;
    display: flex;
    align-items: center;
    /* justify-content: flex-start;  */
} 

.feature .feature-icon {
    position: relative;
    width: 6rem; 
    background-color: transparent;
    display: flex;
    align-items: center; 
    justify-content: center;
 
} 

.feature-icon i {
    padding-top: 1.6rem;
    padding-left: 1rem;
    font-size: 5rem;
    color: var(--yellow-color);
    z-index: 10;
}  

.feature .col-md-12:nth-child(2) i{
    font-size: 4.5rem;
    color:var(--blue-color);
}   

  .feature .feature-icon::before {
    position: absolute;
    content: "";
    width: 8rem;
    height: 8rem;
    top: -2rem;
    left: -1rem;
    border: 0.2rem dotted #ffffff;
    border-radius: 6rem;
    z-index: 1;
}  

 .feature .feature-icon::after {
    position: absolute;
    content: "";
    width: 7.9rem;
    height: 7.9rem;
    top: -1.8rem;
    left: -0.9rem;
    background: var(--blue-color);
    border-radius: 6rem;
    z-index: 2;
}   

.feature .col-md-12:nth-child(2n) .feature-icon::after {
    background: var(--yellow-color);
}  

.feature .feature-text {
    padding-left: 5rem;
} 


.feature .feature-text h3 {
    margin: 0 0 1rem 0;
    color: var(--yellow-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.feature .feature-text p {
    margin: 0;
    color: var(--yellow-color);
    font-size: 1.8rem;
    font-weight: 400;
} 

.feature-text .summary{
    display: none;
}

.feature .col-md-12:nth-child(2n) h3,
.feature .col-md-12:nth-child(2n) p {
    color: var(--blue-color);
}  


@media screen and (max-width: 768px) {
    .feature {
        margin: -70px 0px 0 0;
        padding: 0;
        min-width: 100%;
    }

    .row-1{
        padding: 0;
        margin: 0;
    }

    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-1 {
        order: 1;
        margin-top: -50px;
        margin-bottom: 40px;  
    }

    .icon-2 {
        order: 1;
        margin-top: -80px;
        margin-bottom: 40px;  
    }

    .feature-text {
        order: 2;
        padding: 0;
        min-width: 100%
    }
}

@media screen and (max-width: 578px) {
    .feature .feature-item {
        min-height: 25rem;
        padding: 3.5rem 0;
        display: flex;
        align-items: center;
    } 

    .feature .feature-text {
        padding-left: 0px;
    } 

    .feature-text .full-text {
        display: none;
    }

    .feature-text .summary{
        display: block;
    }

    .feature .col-md-12:nth-child(2n) {
        padding: 3.5rem 0 0 5px;
    } 
}


/*******************************
*! Feature end
*******************************/


/*******************************
* ! About 
/*******************************/

.about {
    width: 100%;
    padding: 4.5rem 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .section-header h2:nth-child(1){
    color: var(--yellow-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.about .section-header h2{
    margin: 0;
    color: var(--blue-color);
    position: relative;
    font-size: 5rem;
    font-weight: 700;
}

.about .about-img {
    height: 120%;
    margin-left: -16.5rem;
}

.about .about-text p {
    font-size: 1.6rem;
}

@media screen and (max-width: 1399px) {
    .about .about-img {
        height: 0%;
        margin-left: -25.5rem;
    }
}

@media screen and (max-width: 1250px) {
    .about .about-img {
        height: 0%;
        margin-left: -30.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .about .about-img {
        margin-left: -30.5rem;
    }

    
}

@media screen and (max-width: 991px) {
    .about .about-img {
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .about .about-img img {
        max-width: 100%; 
        height: auto; 
    }
}

@media screen and (max-width: 500px) {
    .about .about-img {
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .about .about-img img {
        max-width: 100%; 
        height: auto; 
    }


}


/*******************************
* ! Service home.html.twig  ***/
/*******************************/

.card {
    overflow: hidden;
    min-height: 300px;
}

.service h2 {
    color: var(--yellow-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-header {
    background-color: var(--blue-color);
    color: var(--yellow-color);
}

.card-text {
    font-size: 1.6rem;
}

.card-footer{
    background-color: var(--blue-color);
}

.img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 66.67%;
    overflow: hidden;
}

.custom-img-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px){
    .service .col-12.col-md-6.col-lg-4:nth-child(4),
    .service .col-12.col-md-6.col-lg-4:nth-child(5),
    .service .col-12.col-md-6.col-lg-4:nth-child(6){
    display: none;
    }
}



/*******************************
* ! contact 
*******************************/
.contact{
    margin-top: 7rem;
}

.contact h2 {
    color: var(--yellow-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 70px;
}


.contact .row-contact form .inputBoxx input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7px;
    text-transform: none;
    background:none;

}


.section-contact .col-md-6{
    padding: 2rem;
}

.section-contact .col-md-6:nth-child(2){
    background: var(--blue-color);
    padding-top: 15rem ;
    padding-left: 50px;
    color: var(--yellow-color);
    margin-bottom: 14.8px;

}


.section-contact .col-md-6:nth-child(2) p {
    color: var(--yellow-color);
}

.section-contact .col-md-6:nth-child(2) i {
    color: #f3f6ff;
    margin-top:0.5rem;
}


.form-label{
    font-size: 1.8rem;
    font-weight: bold;
}

.form-control {
    height: 5.2rem;
    background: #fff;
    color: #000;
    font-size: 1.4rem;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.fa{
    font-size: 2rem;
}
.d-flex p{
    font-size: 1.8rem;
    padding-left: 1rem;
}

@media(max-width: 767px){
    .section-contact .col-md-6:nth-child(2){
        padding-top: 2rem ;   
        border-radius: 3rem;
    }
}



/*******************************
* ! Work  start
*******************************/

.work{
    position: relative;
    width: 100%;
    padding: 4.5rem 0 1.5rem 0; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.work h2{
    color: var(--yellow-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 7rem;
}

.work .work-item{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

}

.work-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 283px;
}
.work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Cette propriété fera en sorte que l'image couvre toute la zone du conteneur, potentiellement en la rognant */
}

.work .work-title{
    height: 6rem;
    background-color: var(--blue-color);
    text-overflow: ellipsis;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.work .work-title h3{

    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color:var(--yellow-color);
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.work .work-meta{
    position: relative;
    padding: 2.5rem 0 1rem 0;
    background-color: #f3f6ff; 
}

.work .work-meta::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #fdbe33;
}

.work .work-meta p {
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #666666;
}


/*******************************
* ! Work end
*******************************/


/*******************************
*! Footer start
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #030f27;
    color: #ffffff;
}

.footer .container .footer-social{
    padding-left: 7rem;
}
.footer .container .footer-link{
   padding-left: 15rem;
} 


.footer h2 {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--yellow-color)
}

.footer .footer-contact p{
    font-size: 1.5rem;
}

.footer .footer-link a{
    font-size: 1.5rem;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 6rem;
    height: .2rem;
    left: 0;
    bottom: 0;
    background: var(--yellow-color);
}

.footer .footer-contact p i {
    width: 2.5rem;
}

.footer .footer-social {
    position: relative;
    margin-top: 2rem;
}

.footer .footer-social a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding: 0.7rem 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 6rem;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 2rem;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: var(--yellow-color);
    border-color: var(--yellow-color);
}

.footer .footer-social a:hover i {
    color: var(--blue-color);
}


.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #fdbe33;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 991px) {
  .footer img {
    margin-left: 220px;
    margin-top: -20px
  }
  .footer-social{
    margin-left: -70px; 
  }
}

@media (max-width: 768px) {
    .footer img {
        margin-left: 290px;
        margin-top: -200px
      }
      .footer-social{
        margin-left: 100px; 
      }
}

@media screen and (max-width: 578px){
    .footer img {
        margin-left: 180px;
        padding-top: -280;
      }
      .footer-social{
        margin-left: -70px; 
      }
}

/*******************************
*! Footer end
/*******************************/

/****************************************************************************************************************************
*! Index.html.twig end
****************************************************************************************************************************/
/***************************************************************************************************************************
*
****************************************************************************************************************************/

/****************************************************************************************************************************
*
****************************************************************************************************************************/
/****************************************************************************************************************************
*! realization/index.html.twig start
*! prest/index.html.twig start
*! category/show_prest.html.twig start
*! category/show_realization.html.twig start
*! contact/contact.html.twig start
****************************************************************************************************************************/

// realization/index.html.twig
.work-realization h3{
    color: var(--blue-color);
    margin-bottom: 20px;
}

.work-realization h2 {
    color: var(--yellow-color);
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
// prest/index.html.twig start
.prest-index h2{
    color: var(--yellow-color);
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 90px;
}

.prest-index h3{
    color: var(--blue-color);
    margin-bottom: 20px;
}

.prest-index select {
    margin-bottom: 40px;
}

/* Styles pour le select */
.category-dropdown {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 50;
    cursor: pointer;
    color: var(--yellow-color);
    border-radius: 50px;
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    transition: all 0.3s ease;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 100%; 
    white-space: nowrap;
    outline: none; 
    font-weight: 500;
}

select:hover,
select:active {
    color:var(--blue-color);
    background-color: var(--yellow-color);
}

.section-contact h2 {
    color: var(--yellow-color);
    font-size: 40px;
    padding-top: 40px;
    font-weight: bold;
    padding-bottom: 90px;
}

.section-contact .row2 {
    border: var(--blue-color) solid 2px;
    padding: 20px;
}
/****************************************************************************************************************************
*! realization/index.html.twig end
*! prest/index.html.twig end
*! category/show_prest.html.twig end
*! category/show_realization.html.twig end
*! contact/contact.html.twig start
****************************************************************************************************************************/
/***************************************************************************************************************************
*
****************************************************************************************************************************/
/***************************************************************************************************************************
*
****************************************************************************************************************************/

/****************************************************************************************************************************
*! details_realization.html.twig start
****************************************************************************************************************************/
.details-realization {
    margin-top: 100px;
    margin-bottom: 4%;
}

.details-realization h2{
    color: var(--yellow-color);
    font-size:4rem ;
}

.details-realization .text-decoration-none.m-2 {
    font-size: 1.7em;
}

li.text-decoration-none.m-2:not(:last-child)::after {
    content: ",";
    margin-right: 3px; 
}

.flex-wrap {
    flex-wrap: wrap;
}


.wrapper{
    margin-bottom :6%;
    max-width: 1100px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery .image{
    padding: 7px;
    width: calc(100% / 3);
}

.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease;
    border: #000 solid 1px;
    border-radius: 3px;
}

.gallery .image:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    z-index: 1000;
}

.preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}

.preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.details .title p{
    margin: 0 5px;
}

.details .title p.current-img{
    font-weight: 500;
}

.details .icon{
    color: var(--blue-color);
    font-size: 20px;
    cursor: pointer;
}

.preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
}

.image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blue-color);
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.slide.prev{
    left: 0px;
}

.slide.next{
    right: 0px;
}

.image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
}

@media screen and (max-width: 1200px){
    .custom-flex-container {
        flex-direction: column;
    }
    .details-realization .list-unstyled {
        max-width: 100%;
    }
    .details-realization .list-unstyled li {
        flex: 1; /* distribue l'espace équitablement entre les éléments li */
    }

    .details-realization .custom-margin {
        margin-top: 20px;
    }

    .details-realization .list-unstyled li{
        white-space: nowrap;
    }
}

@media(max-width: 1024px){
        .gallery .image{
            width: calc(100% / 2);
        }
    }
    @media(max-width: 768px){
        .gallery .image{
            width: 100%;
            padding: 4px;
        }
}
    
/****************************************************************************************************************************
*! details_realization.html.twig end
****************************************************************************************************************************/
/****************************************************************************************************************************
*! 
****************************************************************************************************************************/
/****************************************************************************************************************************
*! 
****************************************************************************************************************************/
/****************************************************************************************************************************
*! categorie/show_realization.html.twig start 
*! categorie/show_prest.html.twig start 
*! Error 404 et les autres 
****************************************************************************************************************************/
.wrapper-realization-category {
    padding-top: 60px;
}

.error {
    color: red;
    margin: 15% auto;
}

/****************************************************************************************************************************
*! categorie/show_realization.html.twig end
*! categorie/show_prest.html.twig start 
****************************************************************************************************************************/
